html {
    color: #777d6d;
    background-color: #f0f1ff;
    scroll-behavior: smooth;
    
}
h1 {
    font-family: 'Lora', serif;
    font-weight: 500;
}
p {
    font-family: 'Roboto', sans-serif;
}

.arrow {
    border: solid #777d6d;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.bouncing {
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-name: bounce;
}
@keyframes bounce {
0% {
    transform: translateY(0);
}
50% {
    transform: translateY(-10px);
}
100% {
    transform: translateY(0);
}
}
.h-full {
    height: 100vh;
}

.serifed {
    font-family: 'Lora', serif;
    font-weight: 500;
}

.p0 {
    padding: 0;
  }
  .m0 {
    margin: 0;
  }
  .p2 {
    padding: 2rem;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }